.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 400px;
    position: relative;
  }
  
  .slide {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .slide.active {
    opacity: 1;
  }
  
  .text {
    flex-basis: 50%;
    padding-top: 80px;
    font-size: 50px;
    text-align: center;
  }
  
  .image {
    width: 576px;
    height: 300px;
    text-align: center;
    flex:1 1 40rem;
  }
  
  .image img {
    max-height: 100%;
    max-width: 100%;
  }
  
  .timer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #ccc;
  }
  
  .timer-progress {
    height: 100%;
    background-color: #333;
    animation: timer 3s linear infinite;
  }
  
  @keyframes timer {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .arrow:hover {
    background-color: rgba(255, 255, 255, 1);
  }
  
  .arrow-prev {
    left: 10px;
  }
  
  .arrow-next {
    right: 10px;
  }
  
  .arrow i {
    margin: 0;
  }




  .category .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:1.5rem;
    align-items: flex-start;
 }
 
 .category .box-container .box{
    border:var(--border);
    padding:2rem;
    text-align: center;
 }
 
 .category .box-container .box img{
    width: 100%;
    height: 10rem;
    object-fit: contain;
 }
 
 .category .box-container .box h3{
    font-size: 2rem;
    margin-top: 1.5rem;
    color:var(--black);
    text-transform: capitalize;
 }
 
 .category .box-container .box:hover{
    background-color: var(--black);
 }
 
 .category .box-container .box:hover h3{
    color:var(--white);
 }
 
 .products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 33rem);
    justify-content: center;
    align-items: flex-start;
    gap:1.5rem;
 }
 
 .products .box-container .box{
    border:var(--border);
    padding:1.5rem;
    position: relative;
    overflow: hidden;
 }
 
 .products .box-container .box img{
    height: 25rem;
    width: 100%;
    object-fit: contain;
    margin-bottom: 1rem;
 }
 
 .products .box-container .box .fa-eye,
 .products .box-container .box .fa-shopping-cart{
    position: absolute;
    top:1rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.3rem;
    border:var(--border);
    background-color: var(--white);
    cursor: pointer;
    font-size: 2rem;
    color:var(--black);
    transition: .2s linear;
    text-align: center;
 }
 
 .products .box-container .box .fa-eye:hover,
 .products .box-container .box .fa-shopping-cart:hover{
    background-color: var(--black);
    color:var(--white);
 }
 
 .products .box-container .box .fa-eye{
    left: -10rem;
 }
 
 .products .box-container .box .fa-shopping-cart{
    right: -10rem;
 }
 
 .products .box-container .box:hover .fa-eye{
    left: 1rem;
 }
 
 .products .box-container .box:hover .fa-shopping-cart{
    right: 1rem;
 }
 
 .products .box-container .box .cat{
    font-size: 1.8rem;
    color:var(--light-color);
 }
 
 .products .box-container .box .cat:hover{
    color:var(--black);
    text-decoration: underline;
 }
 
 .products .box-container .box .name{
    font-size: 2rem;
    color:var(--black);
    margin:1rem 0;
 }
 
 .products .box-container .box .flex{
    display: flex;
    align-items: center;
    gap:1rem;
    margin-top: 1.5rem;
 }
 
 .products .box-container .box .flex .price{
    margin-right: auto;
    font-size: 2.5rem;
    color:var(--black);
 }
 
 .products .box-container .box .flex .price span{
    color:var(--light-color);
    font-size: 1.8rem;
 }
 
 .products .box-container .box .flex .qty{
    padding:1rem;
    border:var(--border);
    font-size: 1.8rem;
    
 }
 
 .products .box-container .box .flex .fa-edit{
    width: 5rem;
    background-color: var(--yellow);
    color:var(--black);
    cursor: pointer;
    font-size: 1.8rem;
    height: 4.5rem;
    border:var(--border);
 }
 
 .products .box-container .box .flex .fa-edit:hover{
    background-color: var(--black);
    color:var(--white);
 }
 
 .products .box-container .box .fa-times{
    position: absolute;
    top:1rem; right:1rem;
    background-color: var(--red);
    color:var(--white);
    border:var(--border);
    line-height:4rem;
    height: 4.3rem;
    width: 4.5rem;
    cursor: pointer;
    font-size: 2rem;
 }
 
 .products .box-container .box .fa-times:hover{
    background-color: var(--black);
    color:var(--white);
 }
 
 .products .box-container .box .sub-total{
    margin-top: 1rem;
    font-size: 1.8rem;
    color:var(--light-color);
 }
 
 .products .box-container .box .sub-total span{
    color:var(--red);
 }
 
 .products .more-btn{
    margin-top: 1rem;
    text-align: center;
 }
 
 .products .cart-total{
    display: flex;
    align-items: center;
    gap:1.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
    border:var(--border);
    padding:1rem;
 }
 
 .products .cart-total p{
    font-size: 2.5rem;
    color:var(--light-color);
 }
 
 .products .cart-total p span{
    color:var(--red);
 }
 
 .products .cart-total .btn{
    margin-top: 0;
 }
 .products .box-container{
  grid-template-columns: 1fr;
}

.heading h3{
  font-size: 3.5rem;
}

.products .cart-total{
  padding:1.5rem;
  justify-content: center;
}
.steps .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:1.5rem;
  align-items: flex-start;
}

.steps .box-container .box{
  text-align: center;
  border:var(--border);
  padding:2rem;
}

.steps .box-container .box img{
  height: 15rem;
  width: 100%;
  object-fit: contain;
  margin-bottom: 1rem;
}

.steps .box-container .box h3{
  font-size: 2.3rem;
  margin:1rem 0;
  color:var(--black);
  text-transform: capitalize;
}

.steps .box-container .box p{
  line-height: 2;
  font-size: 1.6rem;
  color:var(--light-color);
}

.orders .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  align-items: flex-start;
}

.orders .box-container .box{
  padding:1rem 2rem;
  border:var(--border);
  flex:1 1 40rem;
}

.orders .box-container .box p{
  line-height: 1.5;
  margin:1rem 0;
  font-size: 2rem;
  color:var(--light-color);
}

.orders .box-container .box p span{
  color:var(--black);
}